/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 
 */

html {
	height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
}

#events {
	height: 100%;
	background-image: url("../img/background.jpg");
	background-size: 100%;
}

div.page {
	display: none;
	color: white;
}

div.page div.page-title {
	display: none;
}

div.page div.read-text {
	font-size: 1em;
	margin-left: 1em;
}

div.page div.read-help {
	display: none;
}




div#status, div#status2 {
	color: white;
}

div#help {
	height: 25%;
	font-size: 2em;
	text-align:center;
	color: white;
}

p.contact-email{
	display:inline-block;
}

div#email-data{
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: center;
}
input#basic{
	margin-bottom: 1em;
}
div#sync-button {
	background-color: #E6E6E6;
	padding: 10px 50px;
	margin-top: 1px;
	/*border-radius: 10px;*/
	text-decoration: none;
	color: #424242;
}
#stop-record, #play-button {
	display: none;
}

#email-input{
background-color: #E6E6E6;
	padding: 10px 0px 10px 0px;
	margin-top: 1px;
	/*border-radius: 10px;*/
	text-decoration: none;
	color: #424242;
	width: 310px;
	text-align:center;

}

#password-input{
background-color: #E6E6E6;
	padding: 10px 0px 10px 0px;
	margin-top: 1px;
	/*border-radius: 10px;*/
	text-decoration: none;
	color: #424242;
	width: 310px;
	text-align:center;
}

